.IncDec {
  display: flex;
  flex-direction: row; }
  .IncDec .act {
    width: 39px;
    height: 39px;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    background: url("./ico_dec.png") no-repeat 50% 50%; }
    .IncDec .act:hover {
      opacity: 0.8; }
    .IncDec .act:disabled {
      background-color: #dcdcdc; }
  .IncDec .inc {
    background: url("./ico_inc.png") no-repeat 50% 50%; }
  .IncDec .val {
    width: 60px;
    line-height: 39px;
    text-align: center;
    color: #7d7d7d; }
